@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  #sticky-bottom > div {
    display: contents;
  }
  html {
    font-family: 'Fira Sans Condensed', 'Trebuchet MS', 'sans-serif';
    @apply overflow-x-hidden overflow-y-scroll;
  }
  body {
    @apply text-gray-800 dark:text-white;
  }
  .alfa-slab-one {
    @apply font-['Alfa_Slab_One'];
  }
  .cinzel {
    @apply font-['Cinzel'];
  }
  .bree-serif {
    @apply font-['Bree_Serif'];
  }
  .fat-number {
    @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] [-webkit-text-stroke:_0.5px_black];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-['Cinzel'];
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-stone-300;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-stone-500;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-500/90;
  }
}

@layer utilities {
  .glass {
    @apply rounded-md border border-white/50 bg-white/50 shadow-lg backdrop-blur-sm;
  }
  h1 {
    @apply text-2xl font-medium sm:text-4xl sm:tracking-[-0.0625rem] md:text-5xl md:tracking-[-0.0625rem];
  }
  h2 {
    @apply text-xl font-medium sm:text-3xl sm:tracking-normal md:text-4xl md:tracking-[-0.0625rem];
  }
  h3 {
    @apply text-lg font-medium sm:text-2xl md:text-3xl;
  }
  h4 {
    @apply text-base font-medium sm:text-lg md:text-2xl;
  }
  h5 {
    @apply text-sm font-medium sm:text-base md:text-lg;
  }
  h6 {
    @apply text-xs font-medium sm:text-sm md:text-base;
  }
}
